<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notify] %>
  <div class="flash">
    <%= flash[:notify] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
